<div class="trabajos-practicos item-portfolio">
  <h3>Trabajos prácticos</h3>
  <div class="containerAclaracionTPS">
    <h4>Trabajos prácticos realizados para el curso de Desarrollador Web Full Stack de la BA Coding School</h4>
  </div>
  <div class="contenedor-flex-trabajos">
    <!-- Slider main container -->
    <div class="swiper mySwiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper container-card-swiper">
        <% for( let a = 0; a < trabajosPracticos.length; a++ ) { %>
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="item-trabajo">
            <h5>Título:</h5>
            <p class="titulo-trabajo">
              <%= trabajosPracticos[a].titulo %>
            </p>
            <div class="imagen-trabajo">
              <img src="/images/<%= trabajosPracticos[a].imagen%>" alt="">
            </div>
            
            <div class="contenedor-btn-enlace">
              <a href='<%= trabajosPracticos[a].link %>' target="_blank" rel="noopener noreferrer" class="link-invitation">
                <div class="iconoSitioWeb"></div>
              </a>
              <div class="ver-detalles" id="<%= trabajosPracticos[a].imagen %>"></div>
            </div>

            <!-- <div class="final-tarjeta-trabajos">
              <div class="contenedor-btn-ver-detalles">
              </div>
            </div> -->
          </div>
        </div>
        <% } %>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div> -->
      <!-- <div class="swiper-button-next"></div> -->
      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
    <!-- DETALLES -->
    <% for( let c = 0; c < trabajosPracticos.length; c++ ) { %>
    <div class="contenedor-fixed-item-trabajo-detalles" id="id-<%=trabajosPracticos[c].imagen%>">
      <div class="contenedor-flex-detalles-trabajos">
        <div class="item-trabajo-detalles">
          <div class="contenedor-x"></div>
          <h5 class="titulo-detalles">Título:</h5>
          <p class="titulo-trabajo-detalles">
            <%= trabajosPracticos[c].titulo %>
          </p>
          <h5>Tecnologías utilizadas:</h5>
          <div class="contenedor-techs">
            <p>
              <%= trabajosPracticos[c].tecnologias %>
            </p>
          </div>
          <h5>Descripción:</h5>
          <p><%= trabajosPracticos[c].descripcion %></p>
          <h5>Obs:</h5>
          <p class="observaciones">
            <%= trabajosPracticos[c].observaciones %>
          </p>
        </div>
      </div>
    </div>
    <% } %>
    <!-- FIN DETALLES -->
  </div>