<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include("./components/head.ejs") %>
<!--  -->

<body>


  <img src="/images/vista-min-sitio-web.png" alt="" class="imagen-miniatura">

  <!-- Confirmación de envío de mensaje -->
  <%- include("./components/confirmationMsg.ejs") %>
  <!--  -->

  <!-- Navbar SM -->
  <%- include("./components/navbarSm.ejs") %>
  <!--  -->

  <div class="contenedor-grid">

    <!-- Navbar LG -->
    <%- include("./components/navbarLg.ejs") %>
    <!--  -->

    <div class="contenedor-todo">

      <%- include("./components/btnDarkMode.ejs") %>



      <!-- Header -->
      <%- include("./components/header.ejs") %>
      <!--  -->

      <!-- About me, techs y soft skills -->
      <div class="contenedorAboutMeYSkills">

        <div id="aboutme" class="separador-secciones"></div>

        <!-- sección About Me -->
        <%- include("./components/sectionAboutMe.ejs") %>
        <!--  -->

        <div id="techs" class="separador-secciones"></div>

        <!-- sección Techs -->
        <%- include("./components/sectionTechs.ejs") %>
        <!--  -->

        <!-- sección Soft Skills -->
        <%- include("./components/sectionSoftSkills.ejs") %>
        <!--  -->
      </div>

      <!-- Langs -->
      <%- include("./components/sectionLangs.ejs") %>
      <!--  -->

      <div id="portfolio" class="separador-secciones"></div>

      <!-- Portfolio -->
      <section class="portfolio">
        <h2 class="titulo-section">Portfolio</h2>
        <h3 class="aclaracion-inicial">Todos los sitios web que se exponen a continuación fueron diseñados con la modalidad Mobile First y se dió especial hincapié en lo referido al diseño Responsive <span class="italic">(incluido en el que estás navegando en este preciso momento)</span></h3>
        <div class="linea-divisora"></div>
        <!-- Trabajos reales -->
        <%- include("./components/trabajosReales.ejs") %>
        <!--  -->
        <div class="linea-divisora"></div>
        <!-- Trabajos reales -->
        <%- include("./components/proyectosPersonales.ejs") %>
        <!--  -->
        <div class="linea-divisora"></div>
        <!-- Trabajos prácticos -->
        <%- include("./components/trabajosPracticos.ejs") %>
        <!--  -->
      </section>
      <!--  -->

      <div id="contacto" class="separador-secciones"></div>

      <!-- Contacto -->
      <%- include("./components/sectionContacto.ejs") %>
      <!--  -->

      <div id="rrss"></div>

      <!-- Vinculos de interes -->
      <%- include("./components/vinculosDeInteres.ejs") %>
      <!--  -->

      <div class="linea-divisora-footer"></div>

      <!-- footer -->
      <%- include("./components/footer.ejs") %>
      <!--  -->


    </div>
  </div>

  <!-- Script propio -->
  <script src="/js/scripts.js"></script>

  <!-- Scripts de swiper -->
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "2",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 0,
        modifier: 1,
        slideShadows: false,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
  <!-- Fin scripts de swiper -->

</body>

</html>